:root {
	--border-color: rgb(216, 216, 216);
}
[data-style-heading=cms] {
	--h1-size: clamp(2rem, 3vw + 1rem, 3.5rem);
	--h2-size: clamp(1.5rem, 2vw + 1rem, 2.5rem);
	--h3-size: clamp(1.25rem, 1.5vw + 1rem, 2rem);
	--h4-size: clamp(1.125rem, 1.25vw + 1rem, 1.5rem);
	--h5-size: clamp(1rem, 1vw + 1rem, 1.25rem);
	--h6-size: clamp(0.875rem, 0.5vw + 1rem, 1rem);
}
[data-style-heading=app] {
	--h1-size: clamp(1.5rem, 2.5vw + 1rem, 2.25rem);
	--h2-size: clamp(1.25rem, 1.75vw + 1rem, 1.75rem);
	--h3-size: clamp(1.125rem, 1.25vw + 1rem, 1.375rem);
	--h4-size: clamp(1rem, 1vw + 1rem, 1.125rem);
}
[data-style-heading=bs] {
	--h1-size: clamp(2rem, 1.5vw + 1.375rem, 2.5rem);
	--h2-size: clamp(1.5rem, 0.9vw + 1.325rem, 2rem);
	--h3-size: clamp(1.25rem, 0.6vw + 1.3rem, 1.75rem);
	--h4-size: clamp(1.125rem, 0.3vw + 1.275rem, 1.5rem);
	--h5-size: clamp(1rem, 1rem, 1.25rem);
	--h6-size: clamp(0.875rem, 0.875rem, 1rem);
}
* {z-index: 0;}
*, ::after, ::before {box-sizing: border-box;}

html, body {
	margin: 0;
	max-width: 100vw;
	max-height: 100vh;
	max-height: 100dvh;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: transparent;
}

h1 { font-size: var(--h1-size); font-weight: 700; line-height: 1.2; }
h2 { font-size: var(--h2-size); font-weight: 600; line-height: 1.3; }
h3 { font-size: var(--h3-size); font-weight: 600; line-height: 1.3; }
h4 { font-size: var(--h4-size); font-weight: 500; line-height: 1.4; }
h5 { font-size: var(--h5-size); font-weight: 500; line-height: 1.4; }
h6 { font-size: var(--h6-size); font-weight: 500; line-height: 1.5; }
h1, h2, h3, h4, h5, h6 {text-wrap: balance;margin-top:0;margin-bottom: 0.5em;}
p { margin-top: 0; margin-bottom: 1rem; }

blockquote {margin: 0 0 1rem;}
img {width: 100%;vertical-align:middle;}
table {width: 100%;margin-bottom: 1rem;vertical-align: top;border-collapse: collapse;}
th {text-align: inherit;text-align: -webkit-match-parent;font-weight: 600;}
th, td {padding: 0.5rem;border: 1px solid var(--border-color);}

ol, ul {padding-left: 1rem;}
ol.inside, ul.inside {list-style-position: inside;}

button, select { text-transform: none; }
button, input, optgroup, select, textarea {
	margin: 0;
	font-size: inherit;
	font-family: inherit;
	line-height: inherit;
}
button {
	padding: 6px 12px;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	border-radius: 4px;
	border: 1px solid #000;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
input, select, textarea {
	outline: none;
	padding: 8px;
	border-radius: 8px;
}

.text-left {
	text-align: left;
}
.text-right {
	text-align: right;
}
.text-center {
	text-align: center;
}
.text-justify {
	text-align: justify;
}
